<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
	<style>
	p {
		text-align: center;
	}
	</style>
</head>
<body>
        <p><h4>Бот предназначен для быстрого изучения английских слов</h4></p>
        <p><b>ИВТ-41-16 Шарова Е.А.</b><br><br></p>
	<p><img src="https://sun3-10.userapi.com/pG1aeca8QgPJsfjOu_jfXN71W7e9ysyeAvM-hA/oMAR5lAG8YA.jpg"><br>Перейти в бота</p>
	<p><a href="https://rinrinbot.herokuapp.com/settings">Нажмите, чтобы перейти в настройки бота</p>
</body>
</html>
