<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
	<style>
	div {
		text-align: center;
	}
	</style>
</head>
<body>
    <div>
        <h4>Бот предназначен для того, чтобы выучить английские слова в Viber</h4>
        <b>ИВТ-41-16 Шарова Е.А.</b><br><br>
        <img src="templates/qr-code.png">
    </div>
	<p><img src="templates/qr-code.png">Перейти в бота</p>
	<p><a href="https://rinrinbot.herokuapp.com/settings">Перейти в настройки бота</p>
</body>
</html>