<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
	<style>
	p {
		text-align: center;
		color: black;
		text-decoration: none; /* Убираем подчеркивание у ссылки */
	}
	</style>
</head>
<body>
	<p><img src="https://sun3-11.userapi.com/ny_ZKZTzWako6Uno1Vk6pm2W_fONwcW0wIwHTA/wb4M-uWtJ_8.jpg"><br>Изучай английские слова!<br><br></p>
	<p><img src="https://sun3-10.userapi.com/pG1aeca8QgPJsfjOu_jfXN71W7e9ysyeAvM-hA/oMAR5lAG8YA.jpg"><br>Перейти в бота<br><br></p>
	<p><a href="https://rinrinbot.herokuapp.com/settings">Нажмите, чтобы перейти в настройки бота</a><br><br></p>
	<p>ИВТ-41-16 Шарова Е.А.</p>
</body>
</html>
