<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Настройки</title><style>
	form 
	{
		text-align: center;
	}
	input 
	{
		text-align: center;
	}
	</style>
</head>
<body>
    <form method="post" action="/accept">
        <h3>Введите значение параметров для изменения</h3><br><br>
        Время напоминания в секундах:<br>
        <input type="number" name="remind_time" value={{remind_time}}><br><br>
        Количество слов в одном раунде:<br>
        <input type="number" name="c_words_in_round" value={{c_words_in_round}}><br><br>
        Количество правильных ответов для заучивания слова:<br>
        <input type="number" name="c_words_to_learn" value={{c_words_to_learn}}><br><br>
        <input type="submit" value="Сохранить">
    </form>
</body>
</html>
